<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body style="background-color:#EEFFFF">
	<h1 th:text="'勤怠対象者一覧画面'"></h1>
	<table border="5" style="background-color:#FFFFFF">
		<caption>ログインユーザー</caption>
		<tr>
			<th>社員番号</th>
			<th>チーム名</th>
			<th>氏名</th>
			<th>権限名</th>
		</tr>
		<tr>
			<td th:text="${loginUser.employee_number}"></td>
			<td th:text="${loginUser.team_name}"></td>
			<td th:text="${loginUser.employee_name}"></td>
			<td th:text="${loginUser.authority_name}"></td>
		</tr>
	</table>
	<br>
	<br>
	<br>
	<form th:action="@{/kintai_correspondence}" method="post"
		th:object="${kintaiCorrespondence}">
		<table border="0" width="100%">
			<tr>
				<td>
					<table border="5" bordercolor="blue" width="80%" align="center"
						valign="middle" style="background-color: #EEFFEE">
						<caption>対象者一覧</caption>
						<tr>
							<th>No</th>
							<th>社員番号</th>
							<th>チーム名</th>
							<th>氏名</th>
							<th colspan=2>選択</th>
						</tr>
						<tr th:each="target : *{target_emplyee}">
							<th:block th:with="map=${target}">
							<td th:text="${map.no}"></td>
							<td th:text="${map.employee_number}"></td>
							<td th:text="${map.team_name}"></td>
							<td th:text="${map.employee_name}"></td>
							<td><button type="submit" name="edit" th:value=${map.employee_number}>編集</button></td>
							<td><button type="submit" name="reference" th:value=${map.employee_number}>参照</button></td>
							</th:block>
						</tr>

					</table>
				</td>
			</tr>
		</table>
	</form>
	<br>
	<br>
	<form th:action="@{/backMenu}" method="post">
		<button>戻る</button>
	</form>
	<form th:action="@{/login}" method="get">
		<button style="position: absolute; top: 200px; left: 10px;">ログアウト</button>
	</form>
</body>
</html>